node_modules/
.DS_Store
*.pyc
__pycache__/
venv/
venv-arm64/
venv-x64/
backend/output/
backend/.backend_port
*.egg-info/
dist/
build/
release/
*.dmg
*.spec
venv-minimal/
venv-minimal-backup/
model_files/2.0/
logs/
*.log
test-*.js
